html{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(191, 142, 236);
    }
    .section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        z-index: 1;
        
          
      

    
    }
    header{
        position: relative;
        background-color: rgb(213, 175, 248);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
    }
    nav{ 
        display: flex;
        justify-content: space-around;
        width: 30%;
        background-color: rgb(213, 175, 248);
        z-index: 1;
    }
    .img1{
       margin: .5rem;
       max-width: 5rem;
       float: left;
       z-index: 1;
       
    }
    .caja{
        color: white;
        padding: 2rem;
        align-items: flex-start;
        
    }
    svg{
    position: absolute; 
    z-index: 0;
    background-size: contain;
    background-position: center center;
    border-radius: 2rem;
    background-color:blueviolet;
    bottom: auto;
    width: 98.5vw; 
    height: 99vh;
    }
    .img2{
        margin: 1rem;
        max-width: 20rem;
        position: relative;
        z-index: 1;
        float: left;
        flex-wrap: wrap;
        box-shadow: 2px 2px 15px black;
     }
    .articulo{
        margin: 2rem;
    z-index: 1;
    box-shadow: 2px 2px 15px black;
    background-image: linear-gradient(
        rgb(17, 181, 187),
        rgba(253, 253, 253, 0.281));
    }
    .content{
        display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    position: relative;
    }
   
    article{
        justify-content: space-between;
        flex-direction: row;
    }
    .caja1{
        margin: 2rem;
        z-index: 1;
        box-shadow: 2px 2px 15px black;
        background-image: linear-gradient(
            rgb(119, 228, 231),
            rgba(218, 43, 43, 0.281));      
    }
    .desc {
        display: flex;
        flex-direction:row;
        justify-content:space-around;
        align-items:center;
    }
    footer{
        display: flex;
        flex-direction:column;
        align-items:center;
        text-align: center;
        color:#070808;
        justify-content:center;
        background-color: rgb(191, 142, 236);
         z-index: 1;
        margin-bottom: 5px;
        margin-top: 5px;
       
        
         
    }
    .foter{
        z-index: 1;
        
        
    }
    p {
        text-align: center;
        
    }
    h1 {
        text-align: center;
    }
    h2{
        text-align: center;
    }
    button {
        z-index: 1;
        background-color: rgb(191, 142, 236);
        height: 2rem;
        margin-bottom: 1rem;

    }
    